#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  width: max-content;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  padding: 20px;
}

.card {
  padding: 20px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  border: none;
  border-radius: 15px;
  background-color: #f7f7f7;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.list {
  composes: card;
  padding: 10px;
}

.error {
  margin: 10px auto;
  color: red;
  font-weight: bold;
  font-size: 24px;
}

.subError {
  margin: 0px auto 10px;
  color: red;
  font-weight: bold;
  font-size: 16px;
}
