body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  background-color: #f0ffff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);

  transition: box-shadow 0.2s ease-in-out;
}

button:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15), 2px 2px 2px rgba(0, 0, 0, 0.15);
}

button:disabled {
  color: rgba(0, 0, 0, 0.3);
}
